body {
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    font-family: Arial, sans-serif;
    background-color: #9e9494;
    margin-top: 2px;
    padding-left: 2px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.container button {
    width: 300px;
    border-radius: 10px;
}
.container input {
    width: 300px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #9e9494;

}
button:hover {
    background-color: rgb(164, 164, 228);
}

#eliminarLocalStorage{
    width: 300px;

}