            body {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                background-color: rgb(84, 56, 56);
            }
            .item {
                margin: 10px;
                padding: 10px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .campos{
                /* display: flex;
                justify-content: center;
                align-content: center; */
                text-align: center;
                background-color: rgb(49, 23, 23);
                color: rgb(208, 188, 188);
                
            }
            .item campos input {
                justify-content: center;
            }
            img {
                margin: 0 auto;
                max-width: 100%;
                border-radius: 8px;
                margin-bottom: 10px;
            }
            label {
                text-align: center;
                margin: 0 auto;
                font-size: 20px;
                margin-bottom: 5px;
                display: block;
            }
            input {
            
                font-size: 6vw;
                margin-bottom: 10px;
                box-sizing: border-box; /* Evita que el padding afecte al ancho */
            }
            button {
                font-size: 16px;
                padding: 8px;
                cursor: pointer;
            }
            #eliminarLocalStorage{
                width: auto;
            }

            .codigo{
                width: 25vw;
            }
            .stockBc  {
                width: 20vw;
                background-color: yellow;
                margin: 0 auto;
            }
            .stockR  {
                background-color: rgb(133, 133, 126);
                width: 20vw;
            }
            .stockB {
                background-color: rgb(212, 212, 117);
                width: 20vw;
            }
            .stockV {
                width: 20vw;
            }
            .stockC{
                background-color: red;
                color: white;
                width: 20vw;

            }
            .botones{
                margin: auto;
            }
            .botones button{
                width: 32vw;
                flex-wrap: wrap;
                flex-direction: column;
                border-radius: 6px;
                font-size: 6vw;
                text-align: center;
            }
            .btnElimina{
                color: rgb(255, 255, 255);
                background-color: rgb(192, 54, 54);
            }
            .btnEdita{
                text-align: center;
                color: rgb(255, 255, 255);
                background-color: rgb(74, 176, 27);
            }
            .resumen{
                display:flex;
                flex-direction: row;
                margin: 0 auto;
                text-align: center;
            }
            #mensajeCritico p{
                font-family: arial;
                font-size: 5vw;
                color: white;
            }
            .texto-rojo {
                color: red;
                font-family: arial;
                font-size: 5vw;
                font-weight: 500;
                background-color: rgb(255, 255, 255);
                padding: 1vw;
                text-align: center;
            }
            .texto-verde {
                color: rgb(194, 185, 27);
                font-family: arial;
                font-size: 5vw;
                background-color: rgb(255, 255, 255);
                padding: 1vw;
                text-align: center;
            }
            input[type="file"] {
                text-align: center;
                font-size: 2vw;
                font-weight: bold;
                display: block;
                width: auto;
                height: auto;
                border: 1px solid #ccc;
                background-color: #eee;
                padding: 10px;
                margin-bottom: 10px;
            }
            .botonesLocal{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            .botonesLocal button input {
               width: 15vw;
               border-radius: 17px; 
            }
            .botonesRepo{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                background-color: red;
                align-items: center;
                margin-top: 1vw;
                padding-top: 1vw;
                margin-bottom: 1vw;
                padding-bottom: 1vw;
            }
            .botonesRepo button{
                font-size: 5vw;
                width: 85vw;
                border-radius: 2vw;
            }
                    /* Estilo para simular readonly */
            .input-deshabilitado {
                pointer-events: none;
                background-color: #f0f0f0; /* Puedes ajustar el color de fondo según tus preferencias */
            }
            
            /* Estilo para habilitar interacción */
            .input-habilitado {
                pointer-events: auto;
                background-color: #fff; /* Puedes ajustar el color de fondo según tus preferencias */
            }
            .btnSolicitudRepoBodega{
                background-color: cadetblue;
            }
            .btnEliminaList{
                background-color: cadetblue;
            }
            .btnEliminaList{
                background-color: cadetblue;
            }
            .btnRepoBodegaLocal{
                background-color: cadetblue;
            }